{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'carshop/style.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  </head>

  <body>
    <!-- navbar  -->

    <header>
      <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> Cheshire Car Shop </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="offcanvas offcanvas-end text-bg-dark"
            tabindex="-1"
            id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel"
          >
            <div class="offcanvas-header bg-dark">
              <h5
                class="offcanvas-title text-light"
                id="offcanvasDarkNavbarLabel"
              >
                Menu
              </h5>
              <button
                type="button"
                class="btn-close btn-close-white"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>
            <div class="offcanvas-body bg-dark">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cars</a>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Additional Information
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Contact</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Finance</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Special offers</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- <form class="d-flex mt-3" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-success" type="submit">Search</button>
              </form> -->
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <!-- {% if most_recent_list %}
      <ul>
        {% for car in most_recent_list %}
        <li>
          <a href="{% url 'carshop:detail' car.id %}"
            >{{ car.car_manufacturer }} - {{car.car_model}}</a
          >
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No cars are available.</p>
      {% endif %} -->

      <!-- main banner  -->

      <div id="mainBanner">
        <div id="mainBannerBox">
          <h2>Approved Used Volkswagens</h2>
          <p>at Cheshire Car Shop</p>
          <ul>
            <li>
              <img src="{% static 'carshop\images\checked.png' %}  " alt="" />
              24 months' Warranty
            </li>
            <li>
              <img src="{% static 'carshop\images\checked.png' %}  " alt="" />
              24 months' Roadside Assistance
            </li>
            <li>
              <img src="{% static 'carshop\images\checked.png' %}  " alt="" />
              24 months' MOT Cover
            </li>
          </ul>
          <p>...all included in the price of the car!</p>
        </div>
      </div>

      <!-- car cards  -->

      <div class="container-fluid py-5">
        <h2 class="py-5">Latest Stock</h2>
        <div class="row container-fluid mx-auto">
          {% if most_recent_list %} {% for car in most_recent_list %}
          <div class="col-12 col-md-6 col-lg-4">
            <a href="{% url 'carshop:detail' car.id %}" id="cardLink">
              <div class="card mx-auto mb-5 w-100">
                {% if car.image_one %}
                <img
                  src="{{ car.image_one.url}}"
                  class="card-img-top cardCarImg"
                  alt="..."
                />
                {% endif %}
                <div class="card-body pb-0">
                  <h5 class="card-title text-center">
                    {{ car.car_build_year }} {{ car.car_manufacturer }}
                    {{car.car_model }}
                  </h5>
                  <!-- <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p> -->
                </div>
                <ul class="list-group list-group-flush border-0 p-0">
                  <li class="list-group-item border-0 text-center p-0 m-0">
                    Our Price
                  </li>
                  <li
                    class="list-group-item border-0 text-center pt-0 pb-4 fw-bold"
                  >
                    £{{ car.car_price }}
                  </li>
                </ul>
                <div class="card-body bg-dark d-inline-flex px-auto py-3">
                  <li
                    class="list-group-item border-1 bg-dark text-light px-auto mx-auto"
                  >
                    <img
                      src="{% static 'carshop\images\speedometer-32.png' %}  "
                      alt=""
                      class="cardFooterImg"
                    />
                    {{ car.car_mileage }}
                  </li>
                  <li
                    class="list-group-item border-1 bg-dark text-light px-auto mx-auto"
                  >
                    <img
                      src="{% static 'carshop\images\car-4-32.png' %}  "
                      alt=""
                      class="cardFooterImg"
                    />
                    {{ car.transmission_type }}
                  </li>
                  <li
                    class="list-group-item border-1 bg-dark text-light px-auto mx-auto"
                  >
                    <img
                      src="{% static 'carshop\images\gas-pump-24.png' %}  "
                      alt=""
                      class="cardFooterImg"
                    />
                    {{ car.fuel_type }}
                  </li>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}{% endif %}
        </div>
      </div>
    </main>
  </body>
</html>
