/* Main banner  */

#mainBanner {
  background-image: url("images/bmwWallpaper.jpg");
  background-position: center;
  background-size: cover;
  height: 75vh;
  min-height: 500px;
  position: relative;
  /* padding-top: calc(60px + 10%); */
}

#mainBannerBox {
  padding: 5vh 5vw;
  background-color: #fff;
  border-radius: 5px;
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

#mainBannerBox p:first-of-type {
  color: rgb(129, 127, 127);
  font-weight: 500;
  font-size: 1.5rem;
}

#mainBannerBox ul {
  font-weight: 500;
  list-style: none;
}

#mainBannerBox ul img {
  height: 1rem;
}

#mainBannerBox p {
  font-weight: 500;
}

/* car card  */

#cardLink {
  text-decoration: none;
  color: #000;
}

#cardLink .card {
  transition: 0.25s;
}

.card:hover {
  border: 1px solid #32ba7c;
  transition: 0.25s;
}

.card .cardCarImg {
  transition: 0.25s;
}

.card:hover .cardCarImg {
  /* opacity: 0.75; */
  filter: brightness(66%);
  transition: 0.25s;
}

.cardFooterImg {
  height: 1rem;
}

/* detail page  */

#detailContainer {
  margin-top: calc(60px + 10vh);
}

#blueInfoBox {
  background-color: rgb(2, 2, 77);
  border-radius: 10px;
  color: #fff;
  padding: 2% 2% 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#blueInfoBox div {
  /* display: flex; */
  /* justify-content: space-around; */
}

#blueInfoBox div p {
  margin: 0.1em;
}

#blueInfoBox img {
  height: 1em;
  margin-right: 0.2em;
}

#detailContainer .btn {
  background-color: rgb(2, 2, 77);
  transition: 0.25s;
}

#detailContainer .btn:hover {
  opacity: 0.66;
  transition: 0.25s;
}

@media only screen and (max-width: 600px) {
  #mainBannerBox {
    right: unset;
    margin: auto;
    position: relative;
  }
}
